@import url('https://fonts.googleapis.com/css?family=Poppins: 300,400,500,600,700,800,900display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?');
html{
	scroll-behavior: smooth;
}
*
{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: poppins, sans-serif;
}
body{
	overflow-x: hidden;
	background: #fff;
	height: 100%;
}
		/* This is header and buttons */
#header{
	left: 0;
	top: 0;
	position: center center, absolute;
	width: 70%;
	padding-top: 2%;	
	margin-left:28%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
#header .title{
	color: #444;
	font-weight: 500;
	font-size: 2.2em;
	text-decoration: none;
	margin-left: -35%;
}
#header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
#header ul li
{
	list-style: none;
	margin-left: 15px;
}
#header ul li a 
{
	padding:6px 15px ;
	color: #424243;
	border-radius: 20px;
	text-decoration: none;
}
#header ul li a:hover,
#header ul li a.activee {
	background: #424243;
	color: #fff;
}
		/* End header and buttons */
		/* This is Introduction */
#section1{
	height: 100%;
	width: 100%;
	background-image: url(bg1.jpg) ;
	background-size: width: 100%, height:400%;
	background-position: center;
	margin-top: 1%;
}
#section1 #img1{
	width: 20%;
	height: 50%;
	margin-left: 40%;
	clip-path: circle();
	margin-top: 15%;
}
.text{
	margin-top: 1%;
	text-align: center;
	font-size: 400%;
	letter-spacing: .4%;
	color: #ffffff;
	font-family: Rancho;
}
.fbb{
	margin-top: 1%;
	z-index: 2;
	margin-left: 50%;
	height: 3em;
}
.fbb a{
	display: inline-block;
	height: 40%;
	width: 5%;
	transition: 0.4s;
}
.fbb a:hover{
	transform: scale(1.5);
	margin-left: auto;
    margin-right: auto;
}
.fbb a i{
	height: 100%;
	width: 100%;
}
.fbb .fb{
	color: #ffffff;
}
		/*End Introduction*/
		/*This is Information*/
#section2{
	height: 100%;
	width: 100%;
	color: #ffffff;
}
.img2{
	height: auto;
	width: 35%;
	margin-left: 5%;
	margin-top: 2%;
}
.text2{
	width: 10em;
    height: 2em;
	color: #444;
	margin: auto;
	margin-top: 1%;
	font-family: poppins, sans-serif;
	font-weight: 700;
	font-size: 200%;
	color: #3D3D48;
	text-align: center;
}
.text3{
	width: 95%;
	height: 100%;
	margin: auto;
	margin-top: 1%;
	font-family: play-fair, sans-serif;
	font-weight: 400;
	font-size: 130%;
	color: #000000; 
	margin-left: 2%;
	line-height: 1.6;
}
.flex{
	display: flex;
	margin-top: 10%;
}
	/*End Information*/
	/* This is lifestyle*/
#section3{
	background: #DEDEDE;
	width: 100%;
	height: 100%;
	margin-top: 9%;
}
.flex2{
	display: flex;
	padding-top: 10%;
	background: #DEDEDE;
	padding-bottom: 6%;
}
.img3{
	height: auto;
	width: 35%;
	margin-top: 2%;
	margin-right: 5%;
}
.text4{
	width: 100%;
    height: 2em;
	color: #444;
	margin: auto;
	margin-top: 1%;
	font-family: poppins, sans-serif;
	font-weight: 700;
	font-size: 200%;
	color: #3D3D48;
	text-align: center;
}
.text5{
	width: 95%;
	height: 100%;
	margin: auto;
	margin-top: 1%;
	font-family: play-fair, sans-serif;
	font-weight: 400;
	color: #000000; 
	margin-left: 3%;
	line-height: 2;
}
	 /* End lifestyle */
	/* This is music */
#section4{
	font-size: 62.5%;
	background:#bfc4ca;
	padding-bottom: 4%;
}
.container{
	background: #bfc4ca;
}
.container .heading{
	font-size: 4rem;
	padding: 6%;
	font-family: Rancho, sans-serif;
	font-weight: 100;
	margin: auto;
	text-align: center;
	color: #333 ;
	letter-spacing: 2px;
	text-shadow: 0 0.6rem 0.7rem #999;
}
.container .music-container{
	display: flex;
	align-items: center;
	flex-flow: column;
} 
.container .music-container .box{
	height: 14.5rem;
	width: 80%;
	display: flex;
	align-items: center;
	background: #f9f9f9;
	border-radius: 1rem;
	box-shadow: 0 0.6rem 0.7rem #999;
	overflow: hidden;	
	margin: 2%;
}
.container .music-container .box .image{
	height: 100%;
	width: 35%
}
.container .music-container .box .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.container .music-container .box .music{
	width: 75%;
}
.container .music-container .box .music audio{
	width: 100%;
	outline: none;
} 
.container .music-container .box .music audio::-webkit-media-controls-enclosure{
	background: none;
}
.headers1{
	font-size: 1.7rem;
	font-family: poppins, sans-serif;
	margin-top: 1%;
}
/* End music */
/* This is pictures */
#section5{
	height: 100%;
	width: 100%;
	padding-bottom: 4%;
	font-size: 62.5%;
	background: #9CA2AF;
}
.container1 .heading1{
	font-size: 400%;
	text-align: center;
	color: #fff;
	font-weight: 400;
	font-size: 4rem;
	padding: 6%;
	font-family: Rancho, sans-serif;
	font-weight: 100;
	margin: auto;
	letter-spacing: 2px;
	text-shadow: 0 0.5rem 1rem #444;
}
.video-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.video-container .video{
	height:20rem;
	width: 35rem;
	margin: 2rem;
	box-shadow: 0 0.5rem 1rem rgb(0,0,0,0.5);
	overflow: hidden;
	border-radius: 1rem;
}
.video-container .video video{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: none;
	outline: none;
	cursor: pointer; 
}
video[poster]{
width:100%;
height:100%;
}
	/* End movies	*/
	/* This is pictures	*/
#section6{
	height: 100%;
	width: 100%;
	padding-bottom: 4%;
	font-size: 62.5%;
	background: #8C929F;
}
.container2 .heading2{
	font-size: 400%;
	text-align: center;
	color: #ffff;
	font-weight: 400;
	font-size: 4rem;
	padding: 6%;
	font-family: Rancho, sans-serif;
	font-weight: 100;
	margin: auto;
	letter-spacing: 2px;
	text-shadow: 0 0.3rem 1rem #444;
}
.picture-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.picture-container .picture{
	height: 20%;
	width: 40%;
	margin: 2%;
	box-shadow: 0 0.5rem 1rem rgb(0,0,0,0.5);
	overflow: hidden;
	border-radius: 1rem;
	background: transparent;
}
.picture-container .picture img{
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	object-fit: fill;
}


.picture-container .picture1{
	height: 43.5rem;
	width: 40%;
	margin: 2%;
	box-shadow: 0 0.5rem 1rem rgb(0,0,0,0.5);
	overflow: hidden;
	border-radius: 1rem;
	background: transparent;
}
.picture-container .picture1 img{
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	object-fit: fill;
}

.picture-container .picture2{
	height: 30rem;
	width: 70%;
	margin: 2%;
	box-shadow: 0 0.5rem 1rem rgb(0,0,0,0.5);
	overflow: hidden;
	border-radius: 1rem;
	background: transparent;
}
.picture-container .picture2 img{
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	object-fit: fill;
}


.picture-container .picture3{
	height: 30rem;
	width: 40%;
	margin: 2%;
	box-shadow: 0 0.5rem 1rem rgb(0,0,0,0.5);
	overflow: hidden;
	border-radius: 1rem;
	background: transparent;
}
.picture-container .picture3 img{
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	object-fit: fill;
}
	  /* End pictures */
